.background    { background: rgb(64, 0, 129);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 255, 133); }
.wall          { background: black;   }
.portal1		   { background: rgb(133, 173, 255); }
.portal2		   { background: rgb(133, 173, 255); }
.portal3		   { background: rgb(133, 173, 255); }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.death  { background: red;	}
.player { background: white;  }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.run .player { background: blue; }

.lost .player {
background: rgb(51, 51, 51);
}
.1 .player {
	background: rgb(133, 173, 255);
}
.won .player {
  background: rgb(133, 173, 255);
}
